canvas {
	border: 1px solid black;
}

.title {
	color: rgb(150,0,255);
}

body {
	display: flex;
	flex-direction: column;
	background-color: black
}

div {
	margin-left: auto;
	margin-right: auto
}

label {
	color: rgb(150,0,255);
}

.selectors {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.selectors > div { 
	margin-left: 15px;
	margin-right: 15px;
}
